alembic==1.12.1
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
bcrypt==4.0.1
click==8.1.7
colorama==0.4.6
exceptiongroup==1.2.0
fastapi==0.104.1
greenlet==3.0.1
gunicorn==20.1.0
h11==0.14.0
httptools==0.6.1
idna==3.5
pydantic==2.5.2
pydantic_core==2.14.5
PyJWT==2.8.0
pytest==7.4.3
python-dotenv==1.0.0
PyYAML==6.0.1
sniffio==1.3.0
SQLAlchemy==2.0.23
starlette==0.27.0
typing_extensions==4.8.0
uvicorn==0.24.0.post1
watchfiles==0.21.0
websockets==12.0
asyncpg==0.29.0
httpx==0.25.2
pytest_tornasync==0.6.0.post2
pytest_trio==0.8.0
pytest_twisted==1.14.0
twisted==23.10.0
aiofiles==23.2.1
aiohttp==3.9.1
fastapi_users==12.1.2